#BoxForm {
    z-index: 2;
    position: fixed;
    float: left;
    top: 50px;
    width: 90%;
    font-size: 14px;
    max-width: 310px;
    margin: 20px 0 20px 10px;
    padding: 10px;
    background:#fff; 
    border: 1px solid #dcdcdc;
    transition: all 400ms linear;
    transform: translate(-120%, 0);
}
#BoxForm.open {
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    transition: all 400ms linear;
    transform: translate(0, 0);
}
.txtDisc { margin: 0 5px 0 5px;}
#add {
    height: 40px;
    width: 120px;
    margin: 15px auto 0px auto;
    color: white;
    background-color: #0AB67E;
    outline: none;
}
#btn { margin-top: 10px;float: right;}
.divBtn {position: relative;float: right;bottom: 0;width: 100%;}
label { float: left;min-width: 70px;height: 29px;}
input, label { max-width: 150px;margin-bottom: 10px;padding: 5px;min-width: 90px;}
input { width: 50%;}
.disc { float: right;}
input.disc { border: 2px solid rgba(0,0,0,0.1);}
.addDisc {
    padding: 5px;
    font-size: 14px;  
    border: 1px solid #CCCCCC;     
    background:#fcfcfc;
    max-width: 500px;
    margin: auto;
}
.add-div {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    transition: 1000ms;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: none;
    animation-name: divclose;
    animation-duration: 2000ms;
    opacity: 0;
}
.add-div-open {
    display: block;
    animation-name: divopen;
    animation-duration: 2000ms;
    opacity: 1;
}
@keyframes divopen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}