.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    float: right;
    right: -100vw;
    top: 0px;
    background-color: #0AB67E;
    overflow: hidden;
    transition: 1000ms;
    z-index: 4;
}
.navbar a {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 45px; 
    display: block;
    top: 100px;
}
.navbar a, .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    text-decoration: none;
    color: #ffffff;
}
.navbar-open {
    right: 0px;
}