html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: calc(100% - 67px);
	margin: 0;
	padding: 0;
}
.container h2 {
	position: relative;
	display: table;
	top: 19.92px;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
}
/*Table*/
#h2-frequenc{
	top: 50px;
}
#h2-grade{
	top: 60px;
}
.container table{
	position: relative;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
}
#table-grade{
	top: 60px;
}
.container table, .container thead, .container tbody{
	display: table;
}
.container th{
	padding-top: 10px;
	padding-bottom: 10px;
}
.container td{
	padding-top: 5px;
	padding-bottom: 5px;
}
.container th:not(.th-name), .container td:not(.td-name){
	width: 56px;
}
.th-name, .td-name{
	width: 75px;
	text-align: left;
}
.container td:not(.td-name){
	text-align: center;
}
.container tr{
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
.input-grade{
	width: 25px;
	border: 0;
}
.input-grade:focus{
	outline: none !important;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}
.input-frequenc{
	width: 20px;
	border: 0;
}
.input-frequenc:focus{
	outline: none !important;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}
/*Graphic*/
.graphic-container{
	height: 100px;
	width: 100px;
	position: relative;
	top: 20px;
	left: 50%;
	margin: 15px 0 0 0;
	transform: translate(-50%);
}
.graphic-background{
	background-color: #d0d0d0;
	position: absolute;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: -1px 1px 3px #000;
	-webkit-box-shadow: -1px 1px 3px #000;
	-o-box-shadow: -1px 1px 3px #000;
	box-shadow: -1px 1px 3px #000;
}
.slice{
	position: absolute;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	clip: rect(0px, 50px, 100px, 0px);
}
.slicediv{
	position: absolute;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	clip: rect(0px, 100px, 100px, 50px);
}

#graphic-slice .slice{
	background-color: #28d79e;
	-webkit-transform:rotate(150deg);
	-moz-transform:rotate(150deg);
	-o-transform:rotate(150deg);
	transform:rotate(150deg);
}
.graphic-over{
	width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 0;
    position:  relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#percentage{
	font-family: Arial, sans-serif;
	font-size: 175%;
	text-align: center;
	color: #28d79e;
	margin: 0;
	z-index: 2;
	position: relative;
	top: -45%;
	left: 50%;
	transform: translate(-50%);
}